body {
  background-color: rgb(116, 116, 184);
  font-family:'Courier New', Courier, monospace;
}

.box{
  display: flex;
  border: 1px;
  border-radius: 5px;
  margin: 15%;
}
.button{
  align-items: right;
  background-color: rgb(43, 43, 107);
  color: lightslategray;
  padding: 10px 15px;
  border-radius: 50px;
}
.button-box{
  text-align: right;
}

.bg-blue{
  background-color: rgb(43, 43, 107);
  padding: 25px;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}
.bg-white{
  background-color: white;
  padding: 25px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}

.small-header{
  color: lightslategray;
}

.jsf{
  color: white;
}
.cnc{
  color: black;
}
